{{nav-bar selectedTab="other"}}
<div class="mainSection">
  <div class="music-portal">
    <p class="title">Broken Vessels (Trumpet)</p>
    <video width="300" height="40" controls>
      <source src="assets/mp4/broken_vessels.mp4" type="video/mp4">
    </video>
  </div>
  <div class="music-portal">
    <p class="title">O Come O Come Emmanuel (Trumpet)</p>
    <audio controls>
      <source src="assets/mp4/o_come_o_come_emmanuel.mp3" type="audio/mpeg">
    </audio>
  </div>
  <div class="music-portal">
    <p class="title">Colors of the Wind (Trumpet)</p>
    <audio controls>
      <source src="assets/mp4/colors_of_the_wind.mp3" type="audio/mpeg">
    </audio>
  </div>
</div>