{{nav-bar selectedTab="projects"}}
<div class="mainSection projects">
  <figure class="portal">
    {{#link-to 'projects.cse154'}}
      <img src="assets/img/step_by_step.jpg" alt="cse154">
      <figcaption> CSE 154 Projects </figcaption>
    {{/link-to}}
  </figure>
  <figure class="portal">
    {{#link-to 'projects.info343'}}
      <img src="assets/img/info_logo.png" alt="info343">
      <figcaption> Info 343 Projects </figcaption>
    {{/link-to}}
  </figure>
  <figure class="portal">
    {{#link-to 'projects.other'}}
      <img src="assets/img/cse_logo.png" alt="other projects">
      <figcaption> Other Projects </figcaption>
    {{/link-to}}
  </figure>
  <figure class="portal">
    {{#link-to 'projects.path-vis'}}
      <img src="assets/img/paths-vis.png" alt="tree visualization">
      <figcaption> Tree Visualization </figcaption>
    {{/link-to}}
  </figure>
  <figure class="portal">
    {{#link-to 'projects.wordsolver'}}
      <img src="assets/img/wordsolver.png" alt="word solver">
      <figcaption> WordSolver </figcaption>
    {{/link-to}}
  </figure>
</div>